*{
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px){
    #page-wrapper{
        flex-direction: column;
    }
}
#page-wrapper{
    background-color: blueviolet;
    border: blue;
}
main{
    background: blueviolet;
}

